body,
p,
span {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  font-family: 'Rubik', sans-serif;
  color: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.grey-bg {
  background-color: #f9fafb;
}

/*Menu*/
.main_header {
  max-width: 1470px;
}

body .btn-primary {
  width: 130px;
  height: 40px;
  background-color: #E83B3E !important;
  font-size: .9rem;
  border-color: #E83B3E !important;
  position: relative;
  border: none;
  z-index: 1;
  box-shadow: none !important;
  cursor: pointer;
}

body .btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  border-color: #000;
  transition: .5s;
  z-index: -1;
}

body .btn-primary:hover:after {
  width: 100%;
}

.active {
  color: #E83B3E !important;
}

.main_header {
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background: #fff;
}

.primary_menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

.primary_menu li a .fas {
  font-size: 0.7rem !important;
}

.primary_menu li {
  position: relative;
}

.primary_menu li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.primary_menu li ul {
  position: absolute;
  top: 160%;
  left: 0;
  width: 250px;
  background: white;
  list-style: none;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.primary_menu li ul li {
  flex-direction: column;
  transition: 0.4s;
}

.primary_menu li ul li a {
  color: #000;
  transition: all 0.4s !important;
}

.primary_menu li ul li a:hover {
  color: tomato;
}

.header_info .header_logo {
  width: 60px;
  font-size: 18px;
  margin-right: 7px;
  border-right: 2px solid #ddd;
  padding-left: 0.8rem;
}

.header_info .header_number .header_call_info {
  width: 177px;
  font-size: 14px;
}

.header_info .header_number .header_call_info span {
  color: #606060;
}

.header_info .header_number .header_call_info a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}

.header_info .header_number .header_call_icon {
  color: red;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.silder_section {
  background-image: url(https://i.ibb.co/2h6F4Ds/main-banner2.jpg);
  background-repeat: no-repeat;
  background-position: 57% 50%;
  background-size: cover;
  padding: 200px;
}

.silder_section .silder-content {
  margin-left: -29%;
}

.silder-content-wrap {
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}

.silder-content-wrap h6 {
  color: #E83B3E;
}

.silder-content-wrap h1 {
  font-size: 50px;
  font-weight: 500;
  padding-right: 23.9rem;
}

.silder-content-wrap p {
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  padding-right: 23.9rem;
  padding-top: 0.5rem;
}

.header-social {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -8rem;
  margin-left: -13rem;
}

.header-social li {
  list-style: none;
  margin-left: 2rem;
}

.header-social li span {
  color: #111;
  position: relative;
}

.header-social li span::after {
  content: "";
  height: 6%;
  width: 42%;
  position: absolute;
  background-color: #111;
  top: 52%;
  left: 71px;
}

.header-social a {
  color: #111;
  font-size: 1rem;
  transition: all 0.4s;
  margin-left: 1.5rem;
}

.header-social a:hover {
  color: #E83B3E;
  transform: translate(-50%, -50%) rotate(270deg);
}

.logo_section {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.client_logo ul {
  list-style: none;
  padding-left: 0;
}

.about_img {
  position: relative;
}

.about-img-text {
  position: absolute;
  bottom: -2px;
  right: 55px;
  background-image: url(https://i.ibb.co/16twt91/shape.png);
  width: 34%;
  height: 37%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.finix-text {
  padding: 0px 80px 0px 21px;
  position: relative;
}

.finix-text h5 {
  color: #e73c3e;
  font-size: 1.1rem;
  font-weight: 400;
}

.finix-text h2 {
  font-weight: 400;
}

.finix-text h6 {
  font-size: 0.9em;
  color: #606060;
  font-weight: 300;
  margin-top: 1.2rem;
  line-height: 1.6;
}

.finix-text h3 {
  font-size: .91rem;
  color: #606060;
  font-weight: 300;
  padding-top: 0.5rem;
}

.finix-text ul {
  list-style: none;
  margin-top: 1.2em;
}

.finix-text ul li {
  font-size: 0.8rem;
  font-weight: 300;
}

.finix-text span {
  font-size: 0.9rem;
  margin-right: 0.8em;
  font-weight: 300;
  color: #e73c3e;
}

.paly-animation-btn {
  width: 90px;
  height: 90px;
  display: inline-block;
  background: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 90px;
  color: #e73c3e;
  position: absolute;
  bottom: 5%;
  right: 38%;
  border-radius: 50%;
}

.paly-animation-btn::before {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: #e73c3e;
  border-radius: 50%;
  animation: paly-animation-btn  1.5s ease-in-out infinite;
}

@keyframes paly-animation-btn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.feature_icon {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

.feature_icon:hover {
  transform: translateY(-15px);
}

.feature_icon:hover .ft-icon i {
  color: #fff;
  background-color: #e73c3e;
}

.feature_icon::after {
  content: '';
  position: absolute;
  top: -69px;
  left: 0px;
  right: 0;
  margin: auto;
  width: 90%;
  height: 42%;
  background-color: #fdebeb;
  border-radius: 50%;
}

.feature_icon .ft-icon {
  position: relative;
  z-index: 1;
}

.feature_icon .ft-icon i {
  color: #e73c3e;
  font-size: 1.8rem;
  background-color: #ddd;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}

.feature_icon h3 {
  font-weight: 800;
  padding-top: 2rem;
}

.feature_icon p {
  color: #606060;
}

.mtop-4 {
  margin-top: -30px;
}

.apply_text {
  margin-bottom: 50px;
}

.apply_text h5 {
  font-weight: 200;
}

.apply_text h2 {
  font-weight: 500;
  font-size: 2.15rem;
}

.apply_text h6 {
  max-width: 500px;
  margin: auto;
}

.step-timeline ul {
  list-style: none;
  margin-top: 2.6rem;
  position: relative;
}

.step-timeline ul::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0px;
  width: 1px;
  height: calc(100% - 125px);
  background: red;
}

.step-timeline li {
  position: relative;
  padding-left: 20px;
}

.step-timeline li::before {
  content: attr(data-counter);
  position: absolute;
  top: 0;
  left: -52px;
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #E83B3E;
  border-radius: 50%;
  color: #E83B3E;
  font-size: 23px;
}

.step-timeline strong {
  font-size: 24px;
  display: block;
}

.step-timeline p {
  color: #606060;
  line-height: 29px;
  margin-top: 15px;
}

.calculation {
  background-color: #fdebeb;
  padding: 0  45px;
  font-family: 'Rubik', sans-serif;
}

.calculation-title h6 {
  color: #606060;
  font-weight: 400;
  margin-top: 2em;
}

.calculation-title h2 {
  font-size: 36px;
}

.calculation-form .form-group {
  margin-bottom: 25px;
}

.calculation-form label {
  margin-bottom: 8px;
}

.calculation-form input {
  padding: 12px;
  border: none;
  border-radius: 0;
}

.calculation-form select {
  padding: 12px !important;
  line-height: 12px;
  height: 50px;
  font-weight: normal !important;
  border: none;
  border-radius: 0;
}

.calculation-form select option {
  padding: 12px !important;
  line-height: 12px;
  height: 50px;
  font-weight: normal !important;
  border: none;
  border-radius: 0;
}

.calculation-form select option:hover {
  background-color: #E83B3E !important;
}

.calculation-form button {
  line-height: 5px;
}

.call-action-bg {
  background-color: #e73c3e;
  border-radius: 5px;
}

.call-action-bg h2 {
  font-size: 30px;
  border-right: 1px solid #fff;
  font-weight: 400;
}

.call-to-action-phone {
  margin: 30px 0px;
}

.call-to-action-phone span {
  display: inline-block;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #e73c3e;
  text-align: center;
  font-size: 35px;
}

.call-to-action-phone a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 6px;
  padding-left: 45px;
  font-size: 27px;
  font-weight: 700;
}

.our-company-value-text h2 {
  font-size: 35px;
}

.our-company-value-text .icon {
  font-size: 50px;
  color: #e73c3e;
  margin-right: 27px;
}

.our-company-value-text .value-text h3 {
  margin-top: 10px;
}

.our-company-value-text .value-text p {
  color: #606060;
  line-height: 31px;
  font-size: 16px;
  font-weight: 400;
}

.our-company-img img {
  text-align: right;
  margin: 180px 0px;
}

.company-service-text h2 {
  font-weight: 600 !important;
  margin-bottom: 15px !important;
}

.company-service-text h6 {
  font-size: 16px !important;
  font-weight: 400;
}

.list li {
  color: #111 !important;
}

.testmonial-content p {
  font-size: 24px;
  line-height: 1.5;
}

.testmonial-content h3 {
  font-size: 17px;
  margin-top: 15px;
}

.testmonial-content span {
  color: #606060;
}

.team_member .member-image {
  position: relative;
}

.team_member .social_icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.team_member .social_icon ul {
  text-align: center;
  padding-left: 0;
  margin-bottom: 25px;
}

.team_member .social_icon li {
  display: inline-block;
  position: relative;
  transition: 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.team_member .social_icon a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 47px;
  background-color: #f4f5fe;
  color: #111;
  border-radius: 50%;
  text-align: center;
  translate: .5s;
}

.team_member .social_icon a:hover {
  color: #f4f5f4;
  background-color: #E83B3E;
}

.member-image:hover .social_icon ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.member-image .social_icon ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.member-image .social_icon ul li:nth-child(2) {
  transition-delay: 0.3s;
}

.member-image .social_icon ul li:nth-child(3) {
  transition-delay: 0.4s;
}

.member-image .social_icon ul li:nth-child(4) {
  transition-delay: 0.5s;
}

.member_bio {
  margin-top: 25px;
}

.member_bio h3 {
  font-size: 20px;
  color: #e73c3e;
  margin-bottom: 8px;
}

.member_bio span {
  font-size: 16px;
  color: #606060;
}

.blog-item:hover .blog-text .blog-btn {
  letter-spacing: 2px;
  color: #E83B3E;
}

.blog-text h3 a:hover {
  letter-spacing: 0px;
  color: #E83B3E;
}

.blog-img img {
  max-width: 100%;
}

.blog-text p {
  color: #E83B3E;
}

.blog-text h3 {
  font-size: 25px;
}

.blog-text h3 a {
  color: #111;
  text-decoration: none;
  list-style: 1.5;
  transition: 0.4s;
}

.blog-text .blog-btn {
  font-size: 19px;
  text-decoration: none;
  color: #111;
  font-weight: 700;
  transition: 0.4s;
}
