// /Menu/ **
// ul .primary_menu .container-fluid
// {

// }
// .primary_menu li{}
.main_header
{
    box-shadow: 0 2px 28px 0 rgba(0,0,0,.09);
    background: #fff;

}
.primary_menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    .fas{
        font-size: 0.7rem !important;
    }
}

// ul .primary_menu .container-fluid li a:hover{}
// Dropdown-menu
.primary_menu li{
    position: relative;
    &:hover ul{
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
     ul{
        position: absolute;
        top: 160%;
        left: 0;
        width: 250px;
        background: rgb(255, 255, 255);
        list-style: none;
        padding: 10px;
        box-shadow: 0 0 15px 0 rgba(0,0,0,.1);

        transition: all 0.4s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }
    ul li{
        flex-direction: column;
        transition: 0.4s;
        // transform: scaleX(0);
        // &:hover{
        //     transform: scaleX(1.2);
        // }
    }
    ul li a{
        color: #000;
        transition: all 0.4s !important;
        // transform: scaleX(0) !important;
        &:hover{
            color: tomato;
            // transform: scaleX(1);
        }
        
    }

}




.header_info {
    .header_logo {
        width: 60px;
        font-size: 18px;
        margin-right: 7px;
        border-right: 2px solid #ddd;
        padding-left: 0.8rem;

    }

    .header_number {
        .header_call_info {
            width: 177px;
            font-size: 14px;

            span {
                color: #606060;
            }

            a {
                color: #000;
                font-weight: bold;
                text-decoration: none;
                font-size: 0.9rem;
            }
        }

        .header_call_icon {
            color: red;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }

    }

}
