// Our Company Section 
.our-company-value-text {
    h2 {
        font-size: 35px;
    }

    .icon {
        font-size: 50px;
        color: #e73c3e;
        margin-right: 27px;

    }

    .value-text {
        h3 {
            margin-top: 10px;
        }

        p {
            color: #606060;
            line-height: 31px;
            font-size: 16px;
            font-weight: 400;

        }
    }

}

.our-company-img {
    img {
        text-align: right;
        margin: 180px 0px;
    }
}
.company-service-text{
    h2{
        font-weight: 600 !important;
        margin-bottom: 15px !important;
    }
    h6{
        font-size: 16px !important;
        font-weight: 400;
    }

}
.company-tab-service{

    // li{
       
    // }
    // a{}
}
.list{
    li{
        color: #111 !important;
    }
}